<div class="{{ widget.wrapper_class }}">
    <textarea id="id-{{ widget.name }}" name="{{ widget.name }}">
{% if widget.value %}{{ widget.value }}{% endif %}</textarea>
    <script>
        var options = {% autoescape off %}{{ widget.options }}{% endautoescape %};
        // Python json.dumps() cannot pass javascript function!
        options['element'] = document.getElementById("id-{{ widget.name }}");
        simplemde = new SimpleMDE(options);
    </script>
</div>