<div class="{{ widget.wrapper_class }}">
    <textarea id="id-{{ widget.name }}" name="{{ widget.name }}">
{% if widget.value %}{{ widget.value }}{% endif %}</textarea>
    <script>
        // Third-party jQuery is mandatory to use $ and jQuery namespace.
        // In order to use jQuery in your own admin JavaScript without including a second copy,
        // you can use the django.jQuery object on changelist and add/edit views.
        $(document).ready(function () {
            var options = {% autoescape off %}{{ widget.options }}{% endautoescape %};
            $('#id-{{ widget.name }}').summernote(options);
        });
    </script>
</div>